@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.list-inline {
  list-style: none;
  display: flex;
  align-items: center;
}
.list-inline li {
  display: inline-block;
  margin: 0 10px;
}
.list-inline li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #464646;
  font-weight: 700;
}
.list-inline li a:hover {
  color: #0282F9;
}
.list-inline li .active {
  border-bottom: 5px solid #0282F9;
  padding-bottom: 55px;
  color: #0282F9;
}

img {
  width: 80px;
  height: 80px;
}

#jumbotron {
  height: 400px;
  background-image: url("../img/jumbotron.jpg");
  background-position-x: center;
  display: block;
}

.label {
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: #0282F9;
  padding: 10px 30px;
  position: absolute;
  top: -4%;
  left: -2%;
  text-transform: uppercase;
}

.load {
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  padding: 10px 50px;
  background-color: #0282F9;
  cursor: pointer;
}

main {
  background-color: #464646;
}

.series {
  width: 180px;
  height: 250px;
  margin-bottom: 20px;
}
.series img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  cursor: pointer;
}
.series h2 {
  display: block;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  word-wrap: break-word;
}

.container-flex {
  position: relative;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.main-section {
  height: 120px;
  background-color: #0282F9;
}
.main-section .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-section .column {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main-section .column img {
  width: auto;
  max-height: 40px;
  margin-right: 15px;
}
.main-section .column a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

footer {
  clear: both;
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer a {
  color: #959595;
  font-size: 12px;
}
footer a:hover {
  color: #0282F9;
}

.container-bg-img {
  background-image: url("../img/dc-logo-bg.png");
  background-position: center right;
  background-repeat: no-repeat;
}

.footer-top {
  padding: 50px 0 10px 0;
  display: flex;
}
.footer-top div {
  margin-right: 35px;
}
.footer-top ul {
  list-style: none;
}
.footer-top ul a {
  text-decoration: none;
}

.footer-bottom {
  height: 100px;
  background-color: #303030;
  font-size: 18px;
  list-style: none;
}
.footer-bottom div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom li {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

h2 {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
}

ul {
  margin-top: 5px;
}
ul li {
  transition: opacity 0.3s;
}
ul li:hover {
  opacity: 0.8;
}

span {
  color: white;
  text-transform: uppercase;
  padding: 15px;
  border: 1px solid #0282F9;
  transition: background-color 0.3s;
}
span:hover {
  background-color: #0282F9;
  cursor: pointer;
}

h3 {
  color: #0282F9;
  text-transform: uppercase;
  margin: 30px;
}

.social img {
  height: 30px;
  width: 30px;
}

.copyright {
  padding-bottom: 50px;
}
.copyright small {
  color: #959595;
  font-size: 12px;
}
.copyright small a {
  color: #0282F9;
}
.copyright small a:hover {
  text-decoration: underline;
  cursor: pointer;
}